$base-color-1: #30B052;
$base-color-2: #56E57D;
$background-color: #F2F2F2;

@mixin roundButton {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 1rem;
}

.header-container {
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    line-height: 60px;
    text-align: center;
}

.body-contaner {
    height: 100%;
    width: 100%;
}

.header-text-container {
    display: flex;
}

.logo-text {
    font-size: 2.2rem;
    color: $base-color-1;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
}

.links-container {
}

.links-container>* {
    font-size: 1.3rem;
    margin-left: 20px;
    text-decoration: none;
}

.search-bar {
    @include roundButton();
    border-radius: 25px;    
    padding: 10px;
    border: none;
    margin-top: 7px;
    font-size: 1.2rem;
    text-align: left;
    font-weight: normal;
    background-color: $background-color;
}

.search-bar:focus {
    outline: none;
}

.header-btn-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header-btn-container>* {
    margin-left: 10px;
}

.login-button {
    @include roundButton();
    background-color: white;
    border: 2px solid $base-color-1;
    color: $base-color-1;
    padding: 10px 30px;
}

.login-button:hover {
    background-color: $base-color-1;
    color:white;
}

.signup-button{
    @include roundButton();
    background-color: $base-color-1;
    border: 2px solid $base-color-1;
    color: white;
    padding: 10px 30px;
}

.user-menu-button:hover {
    background-color: $background-color;
}


.logout-button:hover {
    border: none;
    background-color: $background-color;
}

.user-button {
    @include roundButton();
    background-color: white;
    border: 2px solid $base-color-1;
    font-size: 1.2rem;
}
.premium-button {
    @include roundButton();
    background-color: $base-color-1;
    border: 2px solid $base-color-1;
    color: white;
    font-size: 1.2rem;
}

.notifications-button {
    @include roundButton();
    background-color: white;
    border: 1px solid gray;
    font-size: 1.2rem;
}

.signup-button:hover {
    background-color: $base-color-2;
    border-color: $base-color-2;
}

.user-menu {
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
    position: absolute;
    left: 50%;
    top: 100%;
}

.user-menu-button {
    text-align: left;
    min-width: 200px;
    font-size: 1rem;
    border: none;
    background-color: white;
    padding: 20px 15px;
}