<div class="home-container">
    <div class="header-container">
        <div class="header-text-container">
            <a routerLink="/" class="logo-text">Tracki</a>
            <div class="links-container">
                <a routerLink="/" style="color: black">Home</a>
                <a routerLink="/contact" style="color: black">Contact</a>
                <a routerLink="/premium" class="premium-text">PREMIUM</a>
            </div>
        </div>

        <div *ngIf="isLoggedIn; else loggedOut" class="header-btn-container">
            <div>{{ userBasicInfo.userName }}</div>
            <button class="btn login-button" (click)="onLogOut()">LOG OUT</button>
        </div>
        
        <ng-template #loggedOut>
            <div class="header-btn-container">
                <a routerLink="/login"><button class="btn login-button">LOG IN</button></a> 
                <a routerLink="/signup"><button class="btn signup-button">SIGN UP</button></a>
            </div>
        </ng-template>

    </div>
    <div class="body-container">

    </div>
</div>