<div class="home-container">
    <div class="header-container">
        <div class="header-text-container">
            <a routerLink="/" class="logo-text">Tracki</a>
            <div class="links-container">
                <a routerLink="/" style="color: black">Home</a>
                <a routerLink="" style="color: black">Your Library</a>
                <input type="text" placeholder="Search.." class="search-bar" (keyup.enter)="onSearch()" (keyup)="onSearchKey($event)" value={{searchText}}>
            </div>
        </div>
        <div *ngIf="isLoggedIn; else loggedOut" class="header-btn-container">
            <button class="btn notifications-button">
                <i class="fas fa-bell" style="margin-right: 10px"></i>
                Notifications
            </button>
            <button class="btn premium-button">Premium</button>
            <button class="btn user-button" (click)="onUsernameClick()">{{ userBasicInfo.userName }}</button>      
            <div *ngIf="isUserMenuVisible" class="user-menu">
                <a routerLink="/account/overview"><button class="btn user-menu-button">Account</button></a> 
                <a routerLink="/profile"><button class="btn user-menu-button">Profile</button></a> 
              <button class="btn user-menu-button" (click)="onLogOut()">Log Out</button>
            </div>
        </div>   
        <ng-template #loggedOut>
            <div class="header-btn-container">
                <a routerLink="/login"><button class="btn login-button">LOG IN</button></a> 
                <a routerLink="/signup"><button class="btn signup-button">SIGN UP</button></a>
            </div>
        </ng-template>
    </div>
</div>