<div class="login-container">
    <div class="login-header-text">
        <span class="loginto-text">Log In to </span><span class="tracki-text">Tracki</span>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form" novalidate>
        <div class="form-group">
            <label for="emailOrUsername" class="email-label">
                Username<br>
            </label>
            <input id="emailOrUsername" type="text" formControlName="emailOrUsername" class="form-control login-input">
            <div *ngIf="emailOrUsername.errors?.required && submitted" class="alert">
                Username is required.
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="password-label">
                Password<br>
            </label>
            <input id="password" type="password" formControlName="password" class="form-control login-input" >
            <div *ngIf="password.errors?.required && submitted" class="alert">
                Password is required.
            </div>
        </div>
        <div style="margin-top: 10px;"><a>Forgot your password?</a></div>
        <div *ngIf="loginError" class="alert">
            Incorrect username or password.
        </div>
        <div style="display:flex; justify-content: space-between;">
            <label class="rememberme-checkbox"><div style="margin-top: 4px;">Remember me</div>
                <input type="checkbox" formControlName="rememberMe">
                <span class="checkmark"></span>
            </label>
            <button class="btn btn-primary login-button">LOG IN</button>            
        </div>
    </form>
    <hr>
    <p style="font-size: 1rem; margin-top: 15px; text-align: center;">Don't have an account?</p>
    <a routerLink="/signup"><button class="btn signup-button">SIGN UP FOR TRACKI</button></a>
</div>
