@mixin roundButton {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 4px 40px;
    border-radius: 18px;
    font-size: 1rem;
    background-color: #30B052;
    border: 2px solid #30B052;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.container {
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
}

.photo {
    width: 180px;
    height: 120px;
    border-radius: 15px;
}
 .song-info {
     margin-left: 15px;
 }

 .song-name {
    font-size: 1.6rem;
    margin-bottom: 5px;
    margin-top: 10px;
 }

 .artist-name {
     font-size: 1.2rem;
 }

.play-btn {
    @include roundButton();
}

.play-btn:hover{
    color: #30B052;
    background-color: white;
}

.rating {
    font-size: 1rem;
}
