<div class="container">
    <p class="info-text">Account overview</p>
    <form [formGroup]="accountOverviewForm" (ngSubmit)="onSaveChanges()" class="formitko">
        <table class="account-info">
            <tr>
                <td>Username</td>
                <td><input type=text formControlName="userName" class="input" (ngModelChange)="ngOnChanges()"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" formControlName="email" class="input" (ngModelChange)="ngOnChanges()"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="text" placeholder="Type new password here" formControlName="password" class="input" (ngModelChange)="ngOnChanges()">
                </td>
            </tr>
            <tr>
                <td>Profile photo</td>
                <td>
                    <img [src]="image64" height="200" class="profile-photo"> <br/>
                    <input type="file" (change)="onFileSelected($event); ngOnChanges();">
                </td>
            </tr>
        </table>
        <span *ngIf="passwordErr" class="alert">Password must be atleast 6 characters long.</span>
    </form>
    <button  class="btn revert-changes-button" (click)="onRevertChanges()">Revert Changes</button>
    <button *ngIf="!inputChanged" class="btn save-changes-button-gray" (click)="onSaveChanges()">SAVE CHANGES</button>
    <button *ngIf="inputChanged" class="btn save-changes-button" (click)="onSaveChanges()">SAVE CHANGES</button>
</div>
